/* global*/
.page-header {
	margin-top: 0px;
}

.row-column {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.tile {
	border: 1px solid #ddd;
	font-size: 22px;
	margin: 12px;
	padding: 30px;
    text-align: center;
	background-color: #1165ab;
	color: white;
	border-radius: 20px;
}

.error-message {
	color: red;
}

/* navigation */
.navbar {
	background-color: #333;
	font-family: Arial;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #1165ab;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav-right{
   float: right;
}

.topnav-right .dropbtn {
    min-width: 160px;
    text-align: right;
}

/* accodion */
.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 0;
}

/* permission */
.permission-wrapper {
    margin-right: 30px;
}
.permission {
    margin-right: 8px;
}
span.permission.grant {
    color: green;
}
span.permission.denied {
    color: red;
}
.permission-row:hover {
	background-color: #ccc;
}
.permission-row {
	padding-top: 6px;
}
.permission-label {
	font-weight: normal;
}


/* fuel */
.fuel table {
	font-size: 14px;
}
.fuel-edit-button {
	margin-left: -10px;
	margin-right: 6px;
}
.fuel-label-col {
	width: 30vW;
	text-align: right;
}
.fuel-value-col {
	width: 30vW;
	text-align: right;
}
.fuel-unit-col {
	width: 25vW;
	
}
.fuel-input{
	width: 100%;
	line-height: 14px;
    text-align: right;
}
.refueling-table td, th{
	text-align: right;
}
#vehicle_sector {
    width: 100%;
    margin: -15px 0 12px 0;
}