.row-column {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.tile {
	border: 1px solid #ddd;
	font-size: 22px;
	margin: 12px;
	padding: 30px;
    text-align: center;
	background-color: #1165ab;
	color: white;
	border-radius: 20px;
}

th.rotated-col-header
{
  vertical-align: bottom;
  text-align: center;
}

span.rotated-col-header
{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
.permission-checkbox
{
    cursor: pointer;
}
.permission-checkbox-label
{
	margin-right: 16px !important;
	margin-left: 3px !important;
	cursor: pointer;
}



.fuel-edit-button {
	margin-left: -10px;
	margin-right: 6px;
}
.fuel-label-col {
	width: 30vW;
	text-align: right;
}
.fuel-value-col {
	width: 30vW;
	text-align: right;
}
.fuel-unit-col {
	width: 25vW;
	
}
.fuel-input{
	width: 100%;
	line-height: 14px;
    text-align: right;
}